name: Community Commit Event Test

env:
  commit-msg: ${{ github.event.head_commit.message }}

on:
  push:
    branches: ['master']

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Run a one-line script
        run: echo asdf
